#qa-NOTE_EDITOR_TITLE {
  font-size: 20px;
}

#qa-NAV > div > div > div.n4Mn1r2DfNAQz4IXoZyfp {
  display: none;
}

#qa-NAV > div > div > div.T5WPdXozPzkPQtR8-a9OH {
  display: none;
}

#root > div > div > div > div > div > div > section > div > section._1WrY6zkGiK439ApkAyVslO > div > header > div._3cz7mCzRW3YRFdWm6HQsKb._1G38hxzk10h8c-pRMOYJbj {
  display: none;
}

#root > div > div > div > div > div > div > section > div > section._1WrY6zkGiK439ApkAyVslO > div > header > div._2wCs9QyZmW1QE7DpgXrjFV._1G38hxzk10h8c-pRMOYJbj {
  padding-top: 10px;
}